h1{
    font:bold 20px verdana;
}
h1{
    font: bold 20px Verdana;
    margin-bottom: -6px;
}
body{
    text-align: center;
}
#cuerpo{
    width:auto;
    margin: auto;
    text-align: left;
}
#Encabezado{
    background: #fffbb9;
    border: 1px solid #999999;
    padding: 5px;
}
#menu{
    background: #cccccc;
    padding: 2PX 2px;
    background: -webkit-linear-gradient(top, #ffffff, #1480fc);
    background: -moz-linear-gradient(top, #ffffff, #1190cf);
}
#lateral{
    float:right;
    width: 220px;
    margin:20px 0px;
    padding: 20px;
    background: #cccccc;
    border-radius: 20px;
    box-shadow: rgb(150, 150, 150) 5px 5px;
}
#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: solid #999999;
}
#seccion{
    float: left;
    width: 660px;
    margin-bottom: -12;
}
article{
    background: #fffbcc;
    border: 1px solid #999999;
    padding: 6px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow:rgb(150,150,150)5px 5px;

}
article footer{
    text-align: right;
}
#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana
}
table{
    text-shadow: #369 2px 2px 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}